/* 登录样式 */
.loginStyle {
  width: 40%;
  margin: 0 0 0 55%;
  box-shadow: 0px 0px 15px #f0f0f0;
  padding: 0;
  opacity: 0.9;
}
.loginStyle .btn {
  min-width: 120px !important;
  margin: 0 10px !important;
  height: 40px !important;
}
#registerForm {
  display: none;
}
.active {
  transform: translateY(30px);
  transition: all 1s;
}
.loginStyle .custom-control-description, .loginStyle .custom-control-indicator {
  font-size: 14px !important;
}
.loginStyle .custom-checkbox {
  margin-right: 0px !important;
}
.loginStyle .form-control{
  padding: 8px !important;
}
.qiqi-cart-qty {
  display: flex;
  margin: 0px;
}
.qiqi-cart-qty>input {
  font-size: 14px;
}
.quantity-btn {
  background-color: white;
  border: none;
  color: #ddae71;
  margin: 0 !important;
  padding: 0 10px !important;
}
.quantity-btn>i {
  color: #ddae71 !important;
  font-size: 14px !important;
}
.quantity-btn>i:hover {
  background-color: white;
  border: none;
  font-size: 14px !important;
  color: #ddae71;
  opacity: 0.7;
  transform: none;
}
.quentities {
  width: 10px;
  background: none;
  border: none;
  text-align: center;
  font-size: 18px;
  padding: 0;
}
#mgmtContent th{
  font-weight: normal !important;
  color: #a4a7a9;
}
#mgmtContent .modal {
  background-color: rgba(0, 0, 0, 0.4);
}
.modal select.form-control {
  padding: 0 10px;
}
#qiqi-alert {
  display: none;
}
form label .error {
  color: #ddae71;
  margin-left: 5px;
}
#starForm .iconfont {
  font-size: 18px;
  margin-right: 5px;
  color: #ddae71;
  cursor: pointer;
}
.menu-li {
	margin:5px 0 !important;
	cursor:pointer;
}
.menu-li:hover {
	color: #f0ad4e !important;
}
.menuImg {
	width:100%;
	height: 170px;
}
.dish-desc-style {
	 height:32px;
	 margin-top:5px;
	 font-size: 11px;
	 font-weight: 200;
	 color: #a4a7a9;
}
.pageSizeStyle{
	min-width: 20px;
	margin: 0 5px;
	cursor:pointer;
	font-size: 16px;
    font-weight: 500;
    text-align: center;
}
.pageSizeStyle:hover {
	color: #ddae71;
}
.table-cart tr{
	line-height: 30px;
}
.reOrder {
	margin: 20px 10px;
    width: 60px !important;
    height: 25px !important;
    line-height: 5px;
    font-size: 10px;
    text-align: center !important;
    padding: 0px !important;
}
.reOrder[:first-child] {
	margin-left: 50px
}